.map {
    height: 400px;
    width: 100%;
}

.ol-mouse-position{
    top: unset;
    right: unset;
    left: 8px;
    bottom: 10px;
}

.ol-mouse-position span{
    display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1.0em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;

}

.ol-rotate {
    right: 50px
}

.layer-switcher button {
    background-color: rgba(0,60,136,.5);
}

.layer-switcher .panel {
    background-color: rgba(255,255,255,.9);
}

